#results .search-result{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #CCC;
	padding:10px 0px;
	position: relative;
}
#results .search-result:last-child{
	border-bottom: 0px solid #CCC;	
	margin-bottom: 20px;
}
#results .search-result .search-result-number{
	width: 40px;
	margin-bottom: 10px;
	margin-top: 30px;
	font-size: 20px;
	display: flex;
	align-items: center;
	font-weight: bold;
}
#results .search-result .search-result-title{
	width: calc( 100% - 40px );
	margin-bottom: 10px;
	margin-top: 30px;
	color:#14487A;
	display: flex;
	align-items: center;
	padding-left: 20px;
	display: inline-block;
}
#results .search-result .search-result-url{
	display: none;
}
/***titulode busca***/
#results .search-result .search-result-title a{
	color: #4B0082;	
	font-size: 20px;
}
#results .search-result .search-result-url{
	width: calc( 100%);
	color:#060;
	margin-bottom: 15px;
}
#results .search-result .search-result-url a{
	color:#060;
	color:#008;
	font-size: 20px;	
}
#results .search-result .search-result-url a{
	display: none;
}
#results .search-result .search-result-date{
	width: auto;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
}
#results .search-result .search-result-date{
	font-weight: bold;
}
#results .search-result .search-result-snippet{
	margin-bottom: 30px;
	line-height: 1.5;
	font-size: 16px;
	min-height: 30px;
	width: 100%;
}
#results .search-result-author{
	font-size: 16px;
	color:#000;
	font-weight: bold;
	padding-right: 15px;
	border-right: 1px solid #333;
	padding-top: 7px;
	margin-left: 15px;
}
#results .search-result .search-result-date{
	margin-left: 15px;
	padding-top: 7px;
	font-size: 16px;
	color:#000;
	font-weight: bold;
}

#results .search-result .search-result-title{
	order:0;
}

#results .search-result .search-result-url{
	order:4;	
	padding-left: 18px;
}
#results .search-result .search-result-snippet{
	order:5;	
}
#results .search-result .search-result-author{
	order:2;		
}
#results .search-result  .search-result-date{
	order:3;			
}
#results .search-result .search-result-title a{
	line-height: 1.3;
}
